#comentario {
  resize: none;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}

main{
  padding-top: 56px;
}

hr{
  height: 1px !important;
}

.textoImporte {
  color: gray;
  font-size: 13px;
  margin-bottom: 0;
}

#atencionTC {
  display: none;
}

.colTablaColor {
  width: 5px;
}

#loadingSpinner {
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  /*height: calc(100vh - 56px);*/
  height: 100vh;
  width: 100%;
  z-index: 100;
  transition: all 0.25s ease-out;
}

#loadingScreen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.247);
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #6c757d;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
    background-color: #eb5b5b;
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    background-color: #398ed8;
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    background-color: #eb5b5b;
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    background-color: #eb5b5b;
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #398ed8;
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    background-color: #eb5b5b;
  }
}

.loadingText:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1500ms infinite;
  animation: ellipsis steps(4, end) 1500ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

#progressBar{
  transition: all 0.5s ease-out;
}

.btn-personalizado{
  background-color: #fa66fa;
}

#datosVacios{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: calc(100vh - 56px);
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
}

#datosVaciosDeudas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 250px);
  padding-bottom: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.agregarDeudor{
  z-index: 200;
}

.btn-tabla{
  padding: 10px 15px;
}

.table>:first-child{
  border-bottom: 1px solid #7b8ab82e !important;
}

td,th{
  border-color: #7b8ab809  !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

td:first-child,th:first-child{
  border-left: 0 !important;
}

td:last-child,th:last-child{
  border-right: 0 !important;
}

tr:last-child>td:first-child{
  border-radius: 0 0 0 20px !important;
}

input,select,textarea{
  padding: 10px 15px !important;
}

.form-check-input{
  padding: 10px 10px !important;
}

.body-tabla{
  position: relative;
}

.fab{
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  opacity: 0;
  transition: all 0.25s ease;
  z-index: 98;
  padding: 1rem 1.2rem;
  font-size: 30px;
  border-radius: 50%;
  background-color: #378dfc;
  
  cursor: default;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fab i{
  color: #fff
}

.scrolling-active__fab {
  opacity: 1;
  cursor: pointer;
}